.starsContainer{
    .fas{
        // width: 37px;
        // height: 37px;
        font-size: 27px;
        position: relative;
    }
    .fas:before{
        // width: 37px;
        // height: 37px;
        // position: absolute;
        // top: 0;
        // right: 0;
    }
    .check{
        color: #FFEB3C;
    }
    .uncheck{
        color: #D9D9D9;
    }
}